.cfm-index {
  .list {
    font-size: 0;
  }
}

.cfm-card {
  display: inline-block;

  width: 256px;
  height: 256px;

  .card {
    width: 100%;
    height: 100%;

    background: url('../assets/demos/image_card.jpg') center / cover;
  }

  .title {
    align-items: flex-start;

    background: rgba(0, 0, 0, 0.3);

    color: $white;
  }
  .heading {
    margin-top: 0;
  }

  .actions {
    height: 52px;
    padding: 16px;

    background: rgba(0, 0, 0, 0.7);

    color: $white;
  }

  .filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
