@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

html {
  font-size: 100px; }

body {
  line-height: 1.618;
  font-size: 15px;
  font-size: 0.15rem;
  font-family: "Roboto", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  overflow: hidden; }

[data-page-id="detail"] .cfm-layout .layout {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  background-position: center;
  background-size: cover; }
  [data-page-id="detail"] .cfm-layout .layout .header {
    color: white; }

[data-page-id="detail"] .picture .elm-img {
  width: 100%;
  height: auto; }

[data-page-id="detail"] .video .elm-video {
  width: 100%;
  height: auto; }

[data-page-id="index"] .cfm-index .list {
  font-size: 0; }

[data-page-id="index"] .cfm-card {
  display: inline-block;
  width: 256px;
  height: 256px; }
  [data-page-id="index"] .cfm-card .card {
    width: 100%;
    height: 100%;
    background: url("../assets/demos/image_card.jpg") center/cover; }
  [data-page-id="index"] .cfm-card .title {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff; }
  [data-page-id="index"] .cfm-card .heading {
    margin-top: 0; }
  [data-page-id="index"] .cfm-card .actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff; }
  [data-page-id="index"] .cfm-card .filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500; }
